.oblig{

    color: red;
    background-color: black;
}

.sd{
   font-size: small;
   line-height: 0px;
    
   
}
.dropdown-menu{
    width: 50px;
}
.classe{
    display: inline;
}
.semes{
    display: inline;
    margin-left: 220px;

}

